.profile__add-button {
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  background-color: transparent;  
  background-image: url("../../../images/add__button.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  outline: none;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: /*708px*/945px) {
  .profile__add-button {
    min-width: 282px;
  }
}
