/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/content/content.css);
@import url(./blocks/header/header.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element-template/element-template.css);
@import url(./blocks/element/element.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup-image/popup-image.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_add-form/popup_add-form.css);
@import url(./blocks/element/__button-like/_on/element__button-like_on.css);
@import url(./blocks/auth-page/auth.css);

