@import url("./__logo/header__logo.css");
@import url("./__menu/header__menu.css");
@import url('./__authorization/header__authorization.css');
@import url(./__data-user/header__data-user.css);
@import url('./__email/header__email.css');
@import url('./__logout/header__logout.css');

.header {
  max-width: 882px;  
  margin: 0 auto 40px;
  padding-top: 45px;
  border-bottom-style: solid;
  border-bottom-color: #545454;
  border-bottom-width: 1px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 333px) {
  .header {    
    margin: 0 auto 42px;
    padding-top: 28px;
  }
}







