.profile__full-name {
  max-width: 295px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #ffffff;
  margin: 18px 17px 16px 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 588px) {
  .profile__full-name {
    font-size: 27px;
    line-height: 56px;
    margin: 10px 10px 10px 15px;
  }
}
