@import url('./__container/popup__container.css');
@import url('./__form/popup__form.css');
@import url('./__title/popup__title.css');
@import url('./__inputs/popup__inputs.css');
@import url('./__input/popup__input.css');
@import url('./__button-save/popup__button-save.css');
@import url('./__input-error/popup__input-error.css');
@import url('./__close-button/popup__close-button.css');
@import url('./__button-save/_inactive/popup__button-save_inactive.css');
@import url('./__input-error/_active/popup__input-error_active.css');
@import url('./__input/_type-error/popup__input_type-error.css');
@import url('./__title/_delete-card/popup__title_delete-card.css');
@import url('./__button-delete/popup__button-delete.css');
@import url('./__icon/popup__icon.css');
@import url('./__title/_info/popup__title_info.css');
@import url('./__close-button/_center/popup__close-button_center.css');

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s linear;
  -moz-transition: all 0.4;  
}